:root {
  --primary-color: #d160ff;
  --primary-darker: #7e339c;
  --golden: #f5d146;
  --light-bg: #f9f4ff;
  --dark-bg: #1a0c29;
  --text-light: #ffffff;
  --text-subtitle: #dadada;
  --text-dark: #333;
  --card-bg: #ffffff;
  --border-color: #e0c6ff;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
  --whatsapp-green: #25d366;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-bg);
  color: var(--text-dark);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.section-container {
  padding: 50px 20px;
  text-align: center;
}

.section-container h2 {
  font-size: 2em;
  font-weight: 900;
  color: var(--primary-darker);
  margin-bottom: 20px;
}

.section-darker {
  background-color: #0c0c14;
}

.dark-section {
  /* background: linear-gradient(169deg, #540e70, #220e2b); */
  /* background-color: #3e1b4d; */
  background: url("../assets/darksection.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dark-section h2 {
  color: var(--text-light);
}

.dark-section .subtitle {
  color: var(--text-subtitle);
}
