@media (max-width: 768px) {
  .hero {
    height: auto;
    min-height: 90vh;
    padding: 20px;
    justify-content: flex-start;
  }

  nav {
    margin-bottom: 4rem;
    padding: 0;
  }

  .hero-container {
    gap: 2rem;
    margin-bottom: 4rem;
    padding: 0;
    justify-content: center;
  }

  .hero-text {
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
  }

  .hero-text h1 {
    font-size: 1.8em;
  }

  .hero-text p {
    font-size: 1em;
    max-width: 100%;
  }

  .primary-cta {
    width: 90%;
  }

  .coach-section h2 {
    font-size: 1.6em;
  }

  .coach-bio {
    padding: 0 1rem;
    margin-block: 2rem;
  }

  .coach-image-placeholder {
    padding-bottom: 2rem;
  }

  .coach-bio .coach-image-placeholder img {
    width: 200px;
    height: 200px;
  }

  .coach-text {
    text-align: center;
  }

  .coach-text a {
    margin: 2rem auto 3rem auto;
    width: 90%;
    max-width: 22rem;
  }
}
