.section-container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 6rem 0;
}

.coach-section {
  display: flex;
  flex-direction: column;
  margin-block: 6rem;
}

.coach-section h2 {
  margin-bottom: 6rem;
  font-size: 2.5rem;
  color: var(--primary-color);
}

.coach-bio {
  display: flex;
  text-align: start;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 768px) {
  .coach-bio {
    flex-direction: column;

    .coach-text {
      .cta-button {
        width: 250px;
        font-size: 0.8rem;
      }
    }
  }

  .coach-section {
    margin: 0;
  }
  .coach-section h2 {
    margin-bottom: 1rem;
  }

  .hero {
    background-position: -670px center; /* 20px da esquerda */

    .hero-container {
      margin-top: 20rem;
    }
  }
}
